<div id="table_main" class="dataTables_wrapper">
    <table id="datatable" class="table table-light table-striped">
        <thead class="thead-dark">
            <tr id = "headerRow">
            </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
</div>

{{#with config}}
<div style="display: none;">
    <div id="initLink">/init_table?table={{link}}</div>
    <div id="tableType">{{tableType}}</div>
</div>
{{/with}}

<script type="text/JavaScript">
    const initLink = $('#initLink').text();
    const tableType = $('#tableType').text();
</script>

<script src="/js/customTable/customDataTable.js"></script>
<script src="/js/customTable/customButtons.js"></script>
<script src="/js/collection/notes.js"></script>
