<div id="table_main" class="dataTables_wrapper">
    <table id="datatable" class="table table-light table-striped">
        <thead class="thead-dark">
            <tr id = "headerRow">
                <th></th>
                <th>Symbol</th>
                {{#if sc}}
                <th>Owner</th>
                {{/if}}
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Aggregated</th>
                <th>Stock Name</th>
                <th>Market Cap (M)</th>
                <th>Sector</th>
                <th>aEBITDA Spice</th>
                <th>Current Price</th>
                <th>Value Conditions</th>

                <th>Yield</th>
                
                <th>Comment</th>
                <th>MS Exchange</th>
                <th>Ownership</th>
                <th>Emoticon</th>
                <th>Categories</th>
                
                <th>Date</th>
                <th>Shares Outstanding</th>
                <th>Enterprise Value</th>
                <th>Revenue</th>
                <th>aEBITDA(M)</th>
                <th>aEBITDA/Share</th>
                <th>aEBITDA%</th>
                <th>Asset Turn</th>
                <th>aEBITDA AT</th>
                <th>EV/aEBITDA</th>
                <th>Net Debt</th>
                <th>ND/aEBITDA</th>
                <th>ROE</th>
                <th>ROE Spice</th>
                <th>Effective Tax Rate</th>

                <th>Guru Rating</th>
                <th>JDV Rating</th>
                <th>MS Moat Rating</th>
                <th>MS FV Est</th>
                <th>MS 5* Price</th>
                <th>MS 1* Price</th>

                <th>EPS</th>
                <th>Growth Years</th>
                <th>Growth % 5Y</th>
                <th>Growth % 10Y</th>
                <th>Growth % 15Y</th>
                <th>Terminal Years</th>
                <th>Terminal Growth %</th>
                <th>Discount Rate</th>
                <th>Growth Value 5Y</th>
                <th>Terminal Value 5Y</th>
                <th>DCF Fair Value 5Y</th>
                <th>Growth Value 10Y</th>
                <th>Terminal Value 10Y</th>
                <th>DCF Fair Value 10Y</th>
                <th>Growth Value 15Y</th>
                <th>Terminal Value 15Y</th>
                <th>DCF Fair Value 15Y</th>

                <th>FCF (M)</th>
                <th>FCF Yield</th>
                <th>FCF Growth (1Y)</th>
                <th>FCF Growth (3Y)</th>
                <th>FCF Growth (5Y)</th>
                <th>FCF Growth(10Y)</th>

                <th>Capex (M)</th>
                <th>Capex/FCF 5Y</th>
                <th>Capex/FCF 10Y</th>
                <th>Capex/aEBITDA</th>
                <th>Capex/aEBITDA 5Y</th>
                <th>Capex/ aEBITDA 10Y</th>

                <th>FCF/aEBITDA</th>
                <th>Price Growth (1Y)</th>
                <th>Price Growth (3Y)</th>
                <th>Price Growth (5Y)</th>
                <th>Price Growth (10Y)</th>
                <th>S/O Change (1Y)(M)</th>
                <th>S/O Change (3Y)(M)</th>
                <th>S/O Change (5Y)(M)</th>
                <th>S/O Change (10Y)(M)</th>

                <th>S/O Change (1Y)(%)</th>
                <th>S/O Change (3Y)(%)</th>
                <th>S/O Change (5Y)(%)</th>
                <th>S/O Change (10Y)(%)</th>

                <th>Revenue Growth (1Y)</th>
                <th>Revenue Growth (3Y)</th>
                <th>Revenue Growth (5Y)</th>
                <th>Revenue Growth (10Y)</th>
                <th>aEBITDA Growth(1y)</th>
                <th>aEBITDA Growth(3y)</th>
                <th>aEBITDA Growth(5y)</th>
                <th>aEBITDA Growth(10y)</th>
                <th>ROIC %</th>
                <th>WACC %</th>
                <th>ROIC-WACC</th>

            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>


{{#if sc}}
    <script src="/js/collection/sharedDataTable.js"></script>
    <script src="/js/collection/sharedButtons.js"></script>
    <script src="/js/collection/sharedColumns.js"></script>
    {{else}}
    <script src="/js/collection/privateDataTable.js"></script>
    <script src="/js/collection/privateButtons.js"></script>
    <script src="/js/collection/privateColumns.js"></script>
{{/if}}
<script src="/js/collection/common_functions.js"></script>
