<div id="header">
	<div id="logo">
		<a  href="/">
			<img src="/imgs/hillside_logo.png" width="100%"/>
		</a>
	</div>
</div>
<div id="menu">
	<a href="/">Upload</a>
	<a href="collection">Collection</a>
	<a href="documentation">Documentation</a>
	<a href="settings">Settings</a>
</div>
