<div id="table_main" class="dataTables_wrapper">
    <table id="datatable" class="table table-light table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Indicator</th>
                <th>Median Lead Time of Peak/Trough to Recession</th>
                <th>Months Since Recent Peak/ Trhough in Current Cycle</th>
                <th>Key Recession Level</th>
                <th>Current Level</th>
                <th>Options</th>
                <th>Links</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>