<!DOCTYPE html>
<html>
	<head>
		<title>Database</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<link rel="stylesheet" type="text/css" href="/styles/table.css" />
	</head>
	<body>
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					{{>table}}
				</div>
			</div>
		</div>
		<div id="toolbar" class="d-flex flex-row justify-content-center
			align-items-center px-3">
            <form class="px-2">
				<button type="button" onclick="add();" class="btn btn-success btn-sm">
					<span class="fas fa-plus"></span> Add
				</button>
            </form>
            <form class="px-2">
				<button type="button" onclick="remove();" class="btn btn-danger btn-sm">
					<span class="fas fa-trash-alt"></span> Delete
				</button>
            </form>
			<form class="px-2">
				<button type="button" onclick='refresh_prices();' class="btn btn-dark btn-sm">
					<span class="fas fa-sync-alt"></span> Prices
				</button>
			</form>
			<form class="px-2">
				<button type="button" onclick='update();' class="btn btn-dark btn-sm">
					<span class="fas fa-sync-alt"></span> Financials
				</button>
			</form>
			<form class="px-2">
				<button type="button" onclick='show_selected();' class="btn btn-primary btn-sm">
					<span class="fas fa-eye"></span> Show Selected
				</button>
			</form>
			<form class="px-2">
				<button type="button" onclick='share();' class="btn btn-info btn-sm">
					<span class="fas fa-share"></span> Share
				</button>
			</form>
			<form class="px-2">
				<button type="button" onclick='multi_dfc();' class="btn btn-secondary btn-sm">
					<span class="fas fa-calculator"></span> DFC
				</button>
			</form>
			<form class="px-2">
				<button type="button" onclick='config();' class="btn btn-secondary btn-sm">
					<span class="fas fa-cog"></span> Config
				</button>
			</form>
			<b><label for="toggleCheck"> Show Hidden </label></b> &nbsp;<input id="toggleCheck" type="checkbox" onclick="toggleHidden()">
		</div>
		<script src="/js/table.js"></script>
		<script src="/js/collection.js"></script>
		<script src="/js/edit_scripts.js"></script>
	</body>
	{{>detailformatter}}
</html>
