<!DOCTYPE html>
<html>
	<head>
		<title>Database</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<link rel="stylesheet" type="text/css" href="/styles/table.css" />
		
	</head>
	<body>
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					{{>customDataTable}}
				</div>
			</div>
		</div>
	</body>
</html>
