<!DOCTYPE html>
<html>
<head>
	<title>Documentation</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/documentation.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>header}}

	<div class='documentation'>
		<details>
			<summary> How to upload a file</summary>
				<p>Method 1: drag and drop .xlsx file, click [confirm]</p> 
				<img src="/imgs/DocumentationImgs/dropDocument.png" width="400px"/>
				<p>Method 2: Click [Choose File], choose .xlsx file, click [confirm]</p>
				<img src="/imgs/DocumentationImgs/chooseFile.png" width="400px"/>
		</details>
		<details>
			<summary> How to add new stock</summary>
				<p>1) Select the stock that you want to add</p>
				<p>2) Click [Add]</p>
				<img src="/imgs/DocumentationImgs/addStock.png" width="600px"/>
				<p>3) The added stock will show up on the right table</p>
				<img src="/imgs/DocumentationImgs/addStock2.png" width="600px"/>
		</details>
		<details>
			<summary> How to add comment to a stock</summary>
				<h3>Click [i] button</h3>
				<img src="/imgs/DocumentationImgs/addComment1.png" width="450px"/>
				<h3>Type in comments</h3>
				<img src="/imgs/DocumentationImgs/addComment2.png" width="450px"/>

		</details>
		<details>
			<summary> How to remove stock from database</summary>
				<p>Method 1: remove stock from upload page</p>
				<li>Select the stock that you want to remove</li>
				<li>Click [Remove]</li>
				<img src="/imgs/DocumentationImgs/removeStock.png" width="500px"/>
				<p>Method 2: remove from Collection page</p>
				<li>Select the stock that you want to remove</li>
				<li>Click [Delete]</li>
				<img src="/imgs/DocumentationImgs/removeStock2.png" width="380px"/>
		</details>
		<details>
			<summary> How to sort data based on column</summary>
				<p>Click arrow button</p>
				<img src="/imgs/DocumentationImgs/sort1.png" width="270px"/>
				<p>Up arrow means from least to most <img src="/imgs/DocumentationImgs/sort2.png" width="30px"/></p>
				
				<p>down arrow means from most to least <img src="/imgs/DocumentationImgs/sort3.png" width="30px"/></p>
		</details>
		<details>
			<summary> How to download database</summary>
			<h3>1) Click download button</h3>
			<img src="/imgs/DocumentationImgs/download1.png" width="350px"/>
			<h3>2) Choose file type</h3>
			<img src="/imgs/DocumentationImgs/download2.png" width="350px"/>
		</details>
		<details>
			<summary> How to hide/show columns</summary>
			<h3>1) Click column button</h3>
			<h3>2) Select columns that you want to hide/show</h3>
			<img src="/imgs/DocumentationImgs/column.png" width="330px"/>

		</details>
		<details>
			<summary> How to download graph</summary>
			<h3>1) Click the name of a symbol you want to download graph</h3>
			<img src="/imgs/DocumentationImgs/graph1.png" width="330px"/>
			<h3>2) Adjust your graph</h3>
			<h3> 3) Click [Save Image]</h3>
			<img src="/imgs/DocumentationImgs/graph2.png" width="330px"/>
		</details>
		<details>
			<summary> How to log out</summary>
			 <h3>1) Click account button</h3>
			 <h3>2) Click [Log out]</h3>
			<img src="/imgs/DocumentationImgs/logout.png" width="330px"/>
		</details>
		<details>
			<summary> How to add new account</summary>
			 <h3>1) Add /register at the end of the homepage url</h3>
			<img src="/imgs/DocumentationImgs/register1.png" width="400px"/>
			 <h3>2) Fill out every fields</h3>
			 <h3>3) Click [Signup]</h3>
			<img src="/imgs/DocumentationImgs/register2.png" width="280px"/>
		</details>
		<details>
			<summary> How to check how many api calls you've used this month</summary>
			<h3>1) Go to gurufocus.com </h3>
			<h3>2) Select [Screeners]</h3>
			<h3>3) Click [API]</h3>
			<img src="/imgs/DocumentationImgs/api1.png" width="500px"/>
			<h3> 4) Scroll down until you see this</h3>
			<img src="/imgs/DocumentationImgs/api2.png" width="330px"/>
			<h1> You can not request more than 2,000 calls per month</h1>
		</details>
		<details>
			<summary> What to do to preserve API calls</summary>
			<h3> Each stock will make 2 API calls per update </h3>
			<h3> If there are 100 stocks make sure that you don't update the database more than 20 times per month</h3>
		</details>
	</div>

</body>