<!DOCTYPE html>
<html>
<head>
	<title>Documentation</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/documentation.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>header}}

	<div class='documentation'>
		<details>
			<summary> How to upload a file</summary>
				Method 1: drag and drop, choose file, click {confirm} 
				<img src="/imgs/dropDocument.png" width="30%"/>
				<br/>
				Method 2: CLick {Choose File}, choose file, click {confirm}
		</details>
		<details>
			<summary> How to add new stock</summary>
			You do this and this and that.
		</details>
		<details>
			<summary> How to add new column with new calculation</summary>
			You do this and this and that.
		</details>
		<details>
			<summary> How to edit database</summary>
			You do this and this and that.
		</details>
		<details>
			<summary> How to download database</summary>
			You do this and this and that.
		</details>
		<details>
			<summary> How to add new user</summary>
			You do this and this and that.
		</details>
		<details>
			<summary> How to change password</summary>
			You do this and this and that.
		</details>
	</div>
</body>