<!DOCTYPE html>
<html>
	<head>
		<title>Database</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<link rel="stylesheet" type="text/css" href="/styles/table.css" />
	</head>
	<body>
		{{>header}}
    <h1>EditHBS</h1>
    <div id="editContainer"></div>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel" src="/js/edit/edit.js"></script>
	</body>
</html>