<!DOCTYPE html>
<html>
<head>
	<title>Enter Code</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/login.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>logo}}
	<div id='menu'>
        <H4>Welcome {{user}}!</H4>
        <H5>Enter your registration code below.</H5>
        <br /> <br />
        <form action="entercode" method="POST">
            <input type="text" name="code" placeholder="Enter your code" class="input">
            <input type="submit" value="submit"></input>
        </form>
        <form id="lo_form" style="bottom:0px; position:absolute; padding:40px;" action="/logout" method="post">
			<a id="lo" href="#">Not you? Click here to sign out.</a>
		</form>
	</div>
</body>
<script>
	$("#lo").click(function() {
		$("#lo_form").submit();
	});
</script>
</html>
