<!DOCTYPE html>
<html>
<head>
	<title>Documentation</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/documentation.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
    {{>header}}
    {{#each stockdata}}
    <a href='https://www.gurufocus.com/chart/{{this.symbol}}'><button>{{this.symbol}}</button></a>
    <br/>
     {{/each}}

</body>