<!DOCTYPE html>
<html>
<head>
	<title>Hillside Wealth Web</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/index.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>header}}
	<div id="menu">
		<h2> Hillside Wealth Management ISSP </h2>
		<form action="/" method="post">
			<input type="text" placeholder="Username" name="userName" id="userName">
			<input type="password" placeholder="Password" name="password" id="password">
			<button id="send" type="submit">Login</button>
		</form>
	</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script src="login.js"></script> -->
</body>
</html>