<!DOCTYPE html>
<html>

<head>
	<title>Home page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/home.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>

<body>
	{{>header}}
	{{!-- <div id="logout">
		<a href="/">
			<button>Logout</button>
		</a>
	</div> --}}
	<div id="container">
		<div id="upload">
			<p>Drop files here, or click below</p>
			<div id="uploadButton">
				<button>
					<img id="dropImage" src="/imgs/upload.png">
					Upload
				</button>
			</div>
			<p>You can upload up to a max of 500 MB</p>
		</div>
		<div id="confirm">Confirm</div>
		<div id="cancel">Cancel</div>
	</div>
	<a href="/register"><button>register</button></a>
</body>

</html>