<!DOCTYPE html>
<html>
<head>
	<title>Hillside Wealth Web</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/index.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>header}}
	<h1> Hillside Wealth Management ISSP </h1>
	<form action="/home" method="post">
		<input type="text" placeholder="Username" name="userName" id="userName">
		<input type="password" placeholder="Password" name="password" id="password">
		<button id="send" type="submit">Login</button>
	</form>

</body>
</html>