<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<html>

<head>
	<title>Hillside Wealth Web</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/login.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>

<body>	
	{{>logo}}
	<div class="container-fluid d-flex justify-content-center">
            <div class="d-flex align-items-center" style="height:75vh;">
                <div class="card" style="width: 25rem;">
                      <div class="card-header text-center" >
                           <h4>Hillside Wealth Tool</h4>
                        </div>
                    <div class="card-body">
						<div class="form-group">
							<label class="d-flex justify-content-start" for="exampleInputEmail1">Username</label>
							<input type="text" class="form-control" placeholder="Username" name="username" id="userName">
						</div>
						<div class="form-group">
							<label class="d-flex justify-content-start" for="exampleInputEmail1">Password</label>
							<input type="password" class="form-control" placeholder="Password" name="password" id="password">
						</div>
					<button onclick="test();" style="background-color:#255A85; color:white;" class="btn">Login</button>
                </div>
            </div>
        </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script>
	/**
	* Stores user input into a JSON and sends it to ajax_func().
	* @constructor
	*/
	function test(){
		let info = {username: $('#userName').val(), password: $('#password').val()};
		ajax_func(info);
	}

	/**
	* Sends user input into the server through ajax.
	* @constructor
	* @param {JSON} data - The user input stored as a JSON file
	*/
	function ajax_func(data){
		$.ajax({
			type: "POST",
			data: JSON.stringify(data),
			contentType: 'application/json',
			url: "/login"
			}).done(function(returned_data){
				let returned = JSON.parse(returned_data);
				console.log(returned)
				if(returned.status != "authorized"){
					Swal.fire({
					type: 'error',
					title: 'Login Incorrect',
					text: `${returned["status"]}`
				});
				}
				else{
					window.location.href = "/";
				}
				
			})
	}
	</script>
</body>
</html>
