<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/setting.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>header}}
	<div id="container">
		<form action="/register" method="POST">
				<input type="text" name="email" placeholder="Email" class="input">
				<br />
				<input type="password" name="password" placeholder="Password" class="input">
				<br />
				<input type="password" name="confirmPassword"placeholder="Confirm password" class="input">
				<div id="notification">
					Notifications
					<input type="checkbox" name="notification" id="notCheck">
				</div>
				

				<button type="submit" id="confirm">Confirm</button>
				<button type="submit" id="cancel">Cancel</button>


		</form>
	</div>

</body>