<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/styles/home.css" />
	<link rel="icon" type="image/png" href="/imgs/icon.png" />
</head>
<body>
	{{>header}}
</body>