body {
	margin:0;
	font-family: sans-serif;
	background-color: #d8d8d8;
}
#header {
	background-color: #255A85;
}
#logo {
	margin-left: auto;
	margin-right: auto;
	width: 38%;
}
#menu {
	background-color: #C3C3C3;
	text-align: center;
	padding: 5px;
}
a{
	text-decoration: none;
	color: black;
	margin: 10px;
}
p{
	margin: 3px;
}
#logout {
	position: absolute;
    right: 0px;
}

#container {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #ffffff;
	width:35vw;
	height: 35vh;
	padding: 10px;
}
#upload {
	border-style: dashed;
	height: 14vh;
	border-color: #555555;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2%;
	border-radius: 7px;
	padding: 5px;
}
#uploadButton {
	margin: 5px;
}
#dropImage {
	width: 16px;
}

#confirm {
	left: 0px;
	position: absolute;
	margin: 11px;
	background-color: #255A85;
	color:white;
	padding: 9px;
	bottom:5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#confirm:hover{
	background-color: rgb(51, 121, 179);
}
#cancel {
	left: 96px;
	position: absolute;
	margin: 11px;
	background-color: white;
	padding: 9px;
	bottom:5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#cancel:hover{
	background-color: rgb(168, 168, 168);
}

.dropzone {
	padding: 1%;
}
