body {
	margin:0;
	font-family: sans-serif;
	background-color: #d8d8d8;
}
#header {
	background-color: #255A85;
}
#logo {
	margin-left: auto;
	margin-right: auto;
	width: 38%;
}
#menu {
	background-color: #C3C3C3;
	text-align: center;
	padding: 5px;
}
a{
	text-decoration: none;
	color: black;
}
p{
	margin: 3px;
}
.documentation{
	margin: 3%;
	background-color: #f7f7f7;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.4%;
}

summary {
    font-weight: bold;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}