body {
	background-color: #295a88;
	font-family: "Andale Mono", monospace;
	zoom: 1.5;
}

#menu {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #ffffff;
	width:30%;
	height: 40%;
}

#logo {
	background-color: #ffffff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}