body {
	background-color: #255A85;
	font-family: sans-serif;
	zoom: 1.5;
}

#menu {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #ffffff;
	width:300px;
	height: 250px;
	text-align: center;
	border-radius: 4px;
	padding: 20px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#userName {
	width: 85%;
	border:none;
	border-bottom: 2px solid rgb(219, 219, 219);
	padding-top: 10px;
	font-size: 16px;
}

#password {
	width: 85%;
	margin-top: 20px;
	border:none;
	border-bottom: 2px solid rgb(219, 219, 219);
	font-size: 16px;
	padding-top: 10px;

}

#subMenu {
	width: 50%;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}

#subMenu2 {
	width: 50%;
	font-size: 12px;
	text-align: center;
}

#send {
	right: 0px;
	position: absolute;
	margin: 30px;
	background-color: #255A85;
	color:white;
	padding: 7px;
	width: 70px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#send:hover{
	background-color: rgb(51, 121, 179);
}

